.app {
    background: yellow;
    padding: 50px;
    height: 100vh;
}

.todo-list {
    background: #e8e8e8;
    padding: 40px;
    max-width: 500px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}